<div class="col_12">

	<div class="col_2">
		<%= render "shared/left_sidebar" %>
	</div>

<div class="col_9 inline">
	<li><%= link_to image_tag('/'), "/your/account/profile" %></li>
	<li><h2><%= current_user.name %></h2></li>
</div>

	<div class="col_5">
		<!-- <h2>General Info</h2> -->

		<%= simple_form_for(@user, :url => { :controller => 'profiles', :action => 'update' }, :html => { :method => :put, :multipart => true }) do |f| %>

		<label style="display:block;text-align:left;float:none">Profile Picture</label>
		  <p class="col_4 in" style="display:inline"><%= image(current_user) %>
				  <p>    
				<%= f.file_field :image %>
		    <%= f.hidden_field :image_cache %></p>
			</p>
<%= simple_fields_for(@profile) do |p| %>
		  <p><label style="display:block;text-align:left;float:none">My Artist Summary<%= error_message_on @profile, :summary %></label>
		  <%= p.text_area :summary, :class => "profile" %></p>

		  <p><label style="display:block;text-align:left;float:none">My Influences</label><br />
		  <%= p.text_area :influences %></p>

		  <p><label style="display:block;text-align:left;float:none">My Equipment</label>
		  <%= p.text_area :equipment %></p>
<% end %>
		  <p><label style="display:block;text-align:left;float:none">Genre</label><br />
		  <#%= p.text_field :genre %></p>

		  <p><%= f.submit "Update", :class => "red" %></p>
		<% end %>

	</div>

	<div class="col_4 out">
<h4 class="blue_cap">  <a class="the_skinny" href="#" onclick="return false;"> My Details <span class="edit"></span> </a>  </h4>
		<div id="profile_details"> 
			<dl> <dt>Last Online</dt> <dd><%= time_ago_in_words(@user.last_sign_in_at) %> ago </dd> </dl>
<!-- <dl> <dt>Looking For</dt> <dd id="ajax_lookingfor"> ### </dd> </dl> -->
<!-- <dl> <dt>Drinks</dt> <dd id="ajax_drinking">###</dd> </dl> -->
<!-- <dl> <dt>Drugs</dt> <dd id="ajax_drugs">###</dd> </dl> -->
<!-- <dl> <dt>Speaks</dt> <dd id="ajax_languages"> ### </dd> </dl> --> </div>
	</div>

</div>


<%= link_to 'Show', @users_profile %> |
<%= link_to 'Back', users_profiles_path %>
