<%= form_for(@user, :as => :user, :url => { :controller => 'users', :action => 'new' }) do |f| %>  
<h2>Signup</h2>
	<p>Already have an account? <a href="/login">Log in</a>.</p>
<%= current_user %>
  <label style="display:block;text-align:left;float:none">Username<span style="color: #990000">*</span></label><%= error_message_on @user, :name %>
	<input name="user[name]" size="30" type="text" required="required">
  <label style="display:block;text-align:left;float:none">Email<span style="color: #990000">*</span></label><%= error_message_on @user, :email %>
  <input name="user[email]" size="30" type="text" required="required">
  <label style="display:block;text-align:left;float:none">Location<span style="color: #990000">*</span></label><%= error_message_on @user, :location %>
  <input name="user[location]" size="30" type="text" required="required">
  <label style="display:block;text-align:left;float:none">Password<span style="color: #990000">*</span></label><%= error_message_on @user, :password %>
  <input name="user[password]" size="30" type="password"  required="required">

	<label style="display:block;text-align:left;float:none">Confirm Password<span style="color: #990000">*</span></label><%= error_message_on @user, :password_confirmation %>
  <input name="user[password_confirmation]" size="30" type="password"  required="required">

  <%= f.submit "Sign up" %>
<% end %>