<% title "Log in" %>

<div class="site"> 
          
 
<div id="login" class="standard_form"> 
  <p>Don't have an account? <a href="/">Sign up!</a></p>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <h1>Log in</h1>
  
  

  <label style="display:block;text-align:left;float:none"> 
    Login or Email<br />
      <%= f.text_field :email %>

  </label> <br/>

  <label style="display:block;text-align:left;float:none"> 
    Password (<a href="/forgot">forgot password</a>) 
    <br />
    <%= f.password_field :password %></p>

  </label><br/>
    <%= f.hidden_field :remember_me, :value => true %>
  <label style="display:block;text-align:left;float:none"> 
		<%= f.submit "Log in" %>
  </label>

	<% end %>  </div> 

    </div> 
  

  <div class="push"></div> 
</div>