<title><%= title 'Log in' %></title>

<div class="site"> 
          
 
<div id="login" class="standard_form"> 
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <h1>Log in <a href="http://agentrock.net/plans">(Pricing and Signup)</a></h1> 
  
  

  <label for="login"> 
    Login or Email<br /> 
      <%= f.text_field :login %>
<!--     <input class="text" id="login_field" name="login" style="width: 25em;" tabindex="1" type="text" value="" />  -->
  </label> 

  <label for="password"> 
    Password <a href="/sessions/forgot_password">(forgot password)</a> 
    <br /> 
      <%= f.password_field :password %>
    <!-- <input class="text" id="password" name="password" style="width: 25em;" tabindex="2" type="password" value="" />  -->
  </label> 

	<label>
		<% if devise_mapping.rememberable? -%>
    	<p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  	<% end -%>
	</label> 

  <label> 
		<%= f.submit "Log in" %>
  </label> 

	<% end %>  </div> 
	
	<%= render :partial => "devise/shared/links" %>

    </div> 
  

  <div class="push"></div> 
</div>