<% title "Log in" %>

<div class="site"> 
          
 
<div id="login" class="standard_form"> 
  <p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <h1>Log in <!-- (<a href="/pricing">Pricing and Signup</a>) --></h1>
  
  

  <label style="display:block;text-align:left;float:none"> 
    Login or Email<br />
      <%= f.text_field :email %>

  </label> <br/>

  <label style="display:block;text-align:left;float:none"> 
    Password (<a href="/forgot">forgot password</a>) 
    <br />
    <%= f.password_field :password %></p>

  </label><br/>

  <% if devise_mapping.rememberable? -%>
    <p><label style="display:block;text-align:left;float:none">Remember me</label><%= f.check_box :remember_me %> </p>
  <% end -%>

  <label style="display:block;text-align:left;float:none"> 
		<%= f.submit "Log in" %>
  </label> 

	<% end %>  </div> 

    </div> 
  

  <div class="push"></div> 
</div>