<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/favicon.ico">
	<style type="text/css" media="all">/*<![CDATA[*/ @import url(/stylesheets/screen.css); /*]]>*/</style>	
  <style type="text/css">
    body {background-image: url(/images/bg.gif)}

		div.box p.notice {

			font-size: 18px;
			line-height: 24px;
			text-shadow: #fff 0 1px 0;
			text-align: center;
			-webkit-border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-moz-border-radius:  5px;
			padding: 15px 0;
			background: #B3FAAB;
			border: 1px solid green;
			/*    margin: 0;*/
			margin-bottom: 18px;

		}

		div.box p.alert {
			font-size: 18px;
			line-height: 24px;
			text-shadow: #fff 0 1px 0;
			text-align: center;

			-webkit-border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-moz-border-radius:  5px;
			padding: 15px 0;
			background: #FFCDCC;
			border: 1px solid red;
			/*    margin: 0;*/
			margin-bottom: 18px;

		}
  </style>
<%= display_meta_tags :site => "Agent Rock", :reverse => true %>

<%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
		<div id="wrapper">
			<div id="content">
	    <div class="container">
	<%= render 'layouts/top_nav' %>
	</div>

    <div class="container">
    <div class="box">
      <% if notice.present? %>
				<p class="notice"><%= notice %></p> 
			<% elsif alert.present? %>
       	<p class="alert"><%= alert %></p>
			<% end %>

      <%= yield %>
      	
	<div class="clear">&nbsp;</div>


    	</div>
    </div>

<div class="footer pass_3">
	<div class="copyright">&copy; 2010 AgentRock.net All rights reserved. <a href="/terms">Terms.</a> <a href="/privacy">Privacy.</a> <a class="google" href="/sitemap">Sitemap.</a>
	</div>
</div>
        
<script src="http://cdn.jquerytools.org/1.2.2/full/jquery.tools.min.js"></script>
<script>
if (typeof jQuery == 'undefined') {
    document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'%3E%3C/script%3E"));
    document.write(unescape("%3Cscript src='/jquery/tools.js'%3E%3C/script%3E"));
}
</script>

<script type="text/javascript" src="/jquery/rails.js"></script>

<% unless Rails.env = "Production" %>
<%= ren
der 'layouts/trackers' %>
<% end %>
</body>
</html>