<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/favicon.ico">
	<style type="text/css" media="all">/*<![CDATA[*/ @import url(/stylesheets/screen.css); /*]]>*/</style>
  <style type="text/css">
    body {background-image: url(/images/bg.gif)}
  </style>
<%= display_meta_tags :site => "Agent Rock", :reverse => true %>
<%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
<div class="container" id="top">
		

<%= render 'layouts/user_nav' %>
<div class="middle">
    <div class="container">
    <div class="box">
            <p class="notice"><%= notice %></p> 
            <p class="alert"><%= alert %></p>
      


      <%= yield %>
      	
	<div class="clear">&nbsp;</div>
</div>
    </div>
    </div>

<div class="push"></div>
        
<!--
	<div class="footer"> 
	<a href="/login/">Login</a> | 
	<a href="/contact/">Support</a> | 
	<a href="http://twitter.com/agentrock/">Twitter</a> | 
	<a href="/articles/">Articles</a>
</div>
-->

<div id="copyright">
		Copyright &copy; 2010 AgentRock.net All rights reserved. <a href="/terms-conditions">Terms & Conditions.</a> <a href="/privacy-policy">Privacy Policy.</a> <a href="/sitemap">Sitemap.</a>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<% unless Rails.env = "Production" %>
<%= render 'layouts/trackers' %>
<% end %>
</body>
</html>