
<div class="col_12">

	<div class="col_2">
		<%= render "shared/left_sidebar" %>
	</div>

<div class="col_9 inline">
	<li><%= link_to image_tag('/'), "/your/account/profile" %></li>
	<li><h2><%= current_user.name %></h2></li>
</div>

	<div class="col_5">
		<!-- <h2>General Info</h2> -->

		<%= form_for(@account, :as => :account, :url => { :controller => 'accounts', :action => 'update' }, :html => { :method => :put }) do |f| %>

		  <p><label style="display:block;text-align:left;float:none">About Artist<%= error_message_on @account, :about %></label>
		  <%= f.text_area :about, :class => "profile" %></p>

		  <p><label style="display:block;text-align:left;float:none">Influences</label><br />
		  <%= f.text_area :influences %></p>

		  <p><label style="display:block;text-align:left;float:none">Equipment List</label>
		  <%= f.text_area :equipment_list %></p>

		  <!-- <p><label style="display:block;text-align:left;float:none">Genre</label><br />
		  <%= f.text_field :genre %></p> -->

		  <p><%= f.submit "Update", :class => "red" %></p>
		<% end %>

	</div>

	<div class="col_4 out">
		<div id="profile_details"> 
			<dl> <dt>Last Online</dt> <dd><%= time_ago_in_words(@user.last_sign_in_at) %> ago </dd> </dl>
<!-- <dl> <dt>Looking For</dt> <dd id="ajax_lookingfor"> ### </dd> </dl> -->
<!-- <dl> <dt>Drinks</dt> <dd id="ajax_drinking">###</dd> </dl> -->
<!-- <dl> <dt>Drugs</dt> <dd id="ajax_drugs">###</dd> </dl> -->
<!-- <dl> <dt>Speaks</dt> <dd id="ajax_languages"> ### </dd> </dl> --> </div>
	</div>

</div>
