<% title "Create an Account" %>

<div class="col_12 in" id="account_signup">
	<p style="float:right;">Already have an account? <a href="/login">Log in</a>.</p>	
		
	<h1>Join Agent Rock</h1>
	<p class="medium">It's free and sign up is instant.</p>

	<div class="col_6 in">
	<%= simple_form_for(resource, :as => resource_name, :url => { :controller => 'users/registrations', :action => 'new' }) do |f| %>  

		<% if resource.errors.any? %> 
			<div id="errorExplanation"> 
			  <h2>Oops! What happened?</h2>
			</div> 
		<% end %>

		<%= error_message_on resource, :full_name %><%= f.input :name, :tabindex => '1' %>
	  <%= f.simple_fields_for :profile do |p| %>
			<%= error_message_on resource.profile, :path %><%= p.input :path, :label => 'Username', :tabindex => '2' %>
	  <% end %>
		<%= error_message_on resource, :email %><%= f.input :email, :tabindex => '3' %>
		<%= error_message_on resource, :password %><%= f.input :password, :tabindex => '4' %>

<!-- <hr>
<#%= f.input :newsletter, [true, 'Yes'] %>
<hr> -->

	  <%= f.submit "Sign up", :class => 'red' %>
	<% end %>
	</div>

<!-- <p class="small">We won’t share anything on Facebook (unless you want us to)</p> -->

		
</div> 
	
	<!-- <p>A modern day, web 2.0, interactive, dynamic website is a forever evolving entity with lots of internal components that bring their own set of upgrade and maintenance headaches. Are you going to solicit help every time your website needs an update? Agent Rock is your guy! Let him focus on all of your website demands from hosting to customized app building, to internet marketing and beyond...!
	
	There is no installation, setup is easy, and best of all you don't pay a cent unless you want to publish your site by taking it live. And, with our al a carte style, dynamic, micro, prorated to the minute billing!, you will surely be thrilled with what Agent Rock can provide for you on a donation can salary.</p> -->